#character-name {
  font-family: "Pirata One", cursive;
  font-size: x-large;
  margin-left: 10px;
}

#perk-list {
  margin-left: 20px;
  button {
    font-family: "Pirata One", cursive;
    font-size: large;
  }
}

img {
  width: 300px;
}
