<app-character-banner [characterClass]="characterClass"></app-character-banner>
<!-- <div id="character-name">
  {{ characterClass?.name }}
</div> -->
<!-- <div>
  <img [src]="characterClass.image" alt="" />
</div> -->
<!-- <div>
  <app-health-tracker
    [health]="characterClass.health[characterLevel - 1]"
  ></app-health-tracker>
</div> -->
<div id="perk-list">
  <button mat-button (click)="perksHidden = !perksHidden">
    {{ perksHidden ? "Show" : "Hide" }} Perks
  </button>
  <app-perk-list
    [perks]="characterClass.perks"
    (addOrRemovePerk)="addOrRemovePerk($event)"
    *ngIf="!perksHidden"
  ></app-perk-list>
</div>
<app-deck
  [deck]="deck"
  [pulledCards]="pulledCards"
  (bless)="addBless()"
  (curse)="addCurse()"
  (mix)="mixClicked()"
></app-deck>
