mat-toolbar {
  background-color: #a25c5c;
  font-family: "Pirata One", cursive;
  font-size: xx-large;
}

button {
  font-family: "Pirata One", cursive;
}

.icons {
  height: 15px;
  margin: auto;
}
