mat-toolbar {
  font-family: "Pirata One", cursive;
  font-size: xx-large;
}

button {
  font-family: "Pirata One", cursive;
}

.icons {
  height: 15px;
  margin: auto;
}

.gloom {
  background-color: #a25c5c;
}

.frost {
  background-color: #2a68f0;
}

.home-button {
  display: flex;
  justify-content: right;
}
