mat-toolbar {
  font-family: "Pirata One", cursive;
  font-size: xx-large;
}

button {
  font-family: "Pirata One", cursive;
}

.icons {
  height: 15px;
  margin: auto;
}

.gloom {
  background-color: #a25c5c;
}

.frost {
  background-color: rgb(42, 104, 240);
}
