.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px;

  .monetization_on {
    font-size: 33px;
    height: 33px;
    width: 33px;
    color: #f3de66;
  }

  .mat-mini-fab {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button {
    background-color: #f3de66;
    color: #2b2b0e;
    height: 22px;
    width: 22px;
  }

  section {
    padding: 4px;
  }
}
