#pulledCards img {
  width: 300px;
  height: 203px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  font-family: "Pirata One", cursive;
  font-weight: 900;
}

html {
  height: 100vh;
  /* overflow: hidden; */
  background-color: tan;
}

body {
  margin: 0;
  background-color: tan;
}

button {
  border-width: none;
  padding: none;
  margin: none;
  background-color: tan;
  border-radius: 4px;
}

.curse {
  background-color: #7209b7;
  color: gold;
  margin: 8px 3px;
}

.bless {
  background-color: gold;
  color: #7209b7;
  margin: 8px 3px;
}
