<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pirata+One&display=swap"
      rel="stylesheet"
    />

    <title>Document</title>
  </head>
  <body>
    <div class="header"><h1>Attack Modifier Cards</h1></div>
    <div class="flex-container">
      <button (click)="drawCard()">
        <img src="assets/cards/CardBack.png" alt="" />
      </button>
    </div>
    <div class="flex-container">
      <button class="bless" (click)="addBless()">Bless</button>
      <button class="curse" (click)="addCurse()">Curse</button>
    </div>
    <div class="flex-container" *ngFor="let card of pulledCards">
      <div id="pulledCards">
        <img [src]="card?.img" alt="" />
      </div>
    </div>
  </body>
</html>
