mat-checkbox {
  font-family: "Pirata One", cursive;
  font-size: large;
  overflow-wrap: break-word;
}
button {
  font-family: "Pirata One", cursive;
  font-size: large;
}

ul {
  margin: 0;
  padding: 0;
}
