div {
  font-family: "Pirata One", cursive;
  font-size: x-large;
}

#banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgb(162, 92, 92);
  height: auto;
  padding: 5px;
}

#character-image {
  display: flex;
  flex-direction: column;
  width: 10%;
  img {
    width: 100%;
    height: auto;
  }
}

.character-info {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 10px;
  .tickers {
    display: flex;
    flex-direction: row;
  }
}

#character-icon {
  width: 10%;
  img {
    width: 100%;
  }
}
