<div id="banner">
  <div id="character-image">
    <img [src]="characterClass?.image" alt="" />
    <app-health-tracker
      [health]="currentHealth"
      [maxHealth]="maxHealth"
    ></app-health-tracker>
  </div>
  <div class="character-info">
    <div>
      {{ characterClass?.name }}
    </div>
    <div class="tickers">
      <app-health-ticker
        (addHealthClicked)="addHealthClickedHandler()"
        (minusHealthClicked)="minusHealthClickedHandler()"
      ></app-health-ticker>
      <!-- <app-experience-tracker></app-experience-tracker> -->
    </div>
  </div>
  <div id="character-icon">
    <img [src]="characterClass?.icon" alt="" />
  </div>
</div>
