<div class="banner">
  <div class="character-image">
    <img [src]="characterClass?.image" alt="" />
    <app-health-tracker
      [health]="currentHealth"
      [maxHealth]="maxHealth"
    ></app-health-tracker>
  </div>
  <div class="character-info">
    <div>
      {{ characterClass?.name }}
    </div>
    <div class="tickers">
      <app-health-ticker
        (addHealthClicked)="addHealthClickedHandler()"
        (minusHealthClicked)="minusHealthClickedHandler()"
      ></app-health-ticker>
      <app-experience-tracker
        (addExperienceClicked)="addExperienceClickedHandler()"
      ></app-experience-tracker>
      <div>XP:{{ experience }}</div>
      <app-coin-tracker
        (addCoinsClicked)="addCoinsClickedHandler()"
      ></app-coin-tracker>
      <div>Gold:{{ coins }}</div>
    </div>
  </div>
  <div class="character-icon">
    <img [src]="characterClass?.icon" alt="" />
  </div>
</div>
